{% extends 'main.html' %}

{% block content %}

<form class="add-form-container" method="POST">
	<label for="id_cliente">Cedula del cliente: </label>
	<select name="id_cliente" class="add-input">
	{% for cliente in clientes %}
	<option> {{cliente[0]}} </option>
	{% endfor %}
	</select> <br>
	<label for="id_destinatario">Id del destinatario: </label>
	<select name="id_destinatario" class="add-input" >
	{% for destinatario in destinatarios%}
	<option> {{destinatario[0]}} </option>
	{% endfor %}
	</select><br>
	<label for="id_conductor">Id del conductor: </label>
	<select name="id_conductor" class="add-input" >
	{% for conductor in conductores%}
	<option> {{conductor[0]}} </option>
	{% endfor %}
	</select> <br>
	<label for="idP">Id del paquete: </label>
	<input class="add-input" name="idP" type="text" placeholder="Id Pedido" required><br>
	<label for="idP">Descripcion del paquete: </label>
	<input class="add-input" name="desP" type="text" placeholder="Descripcion paquete" required><br>
	<label for="idP">Unidad de medida: </label> <br>
	<input class="add-input" name="uniP" type="text" placeholder="Unidad medida" required> <br>
	<label for="idP">Peso del paquete: </label>
	<input class="add-input" name="pesoP" type="text" placeholder="Peso paquete" required> <br>
	<label for="estadoP">Estado del paquete: </label>
	<select name="estadoP">
	  <option>Registrado</option>
	  <option>Enviado</option>
	  <option>Entregado</option>
	</select> <br>
	<input class="add-btn" id="submit-add" type="submit" value="Agregar Envio">
</form>
<button class="add-btn" id="close">Cerrar</button>

{% endblock %}

{% block crudTable %}
<thead>
	<tr>
		<th>Id paquete</th>
		<th>Descripcion paquete</th>
		<th>Estado del Paquete </th>
		<th>Nombre cliente </th>
		<th>Nombre destinatario</th>
		<th>Direccion destinatario</th>
		<th>Nombre conductor</th>
		<th>Marca Vehiculo</th>
		<th>Placa Transporte</th>
		<th>Acciones</th>
	</tr>
</thead>
<tbody>
	{% for paquete in paquetes%}
	<tr>
		<td>{{paquete[0]}}</td>
		<td>{{paquete[1]}}</td>
		<td>{{paquete[2]}}</td>
		<td>{{paquete[3]}}</td>
		<td>{{paquete[4]}}</td>
		<td>{{paquete[5]}}</td>
		<td>{{paquete[6]}}</td>
		<td>{{paquete[7]}}</td>
		<td>{{paquete[8]}}</td>
		<td> 
		  <a href="/edit/{{paquete[0]}}">Editar</a>
		  <a href="/destroy/{{paquete[0]}}">Eliminar</a>
	</tr>
	{% endfor %}
</tbody>
{% endblock %}
