<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link para los íconos -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- formulario de nueva entrega -->
    <!-- hoja de estilo principal -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Proyecto</title>
</head>

<body>
    <link rel="stylesheet" type="text/css" href="style.css">
    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <i class='bx bxs-truck'></i>
                <div class="logo_name">Outer</div>
            </div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav_list">
            <li>
                <a href="/clientes">
		    <i class='bx bx-user'></i>
                    <span class="links_name">Clientes</span>
                </a>
                <span class="tooltip">Clientes</span>
            </li>
            <li>
                <a href="/destinatarios">
		    <i class='bx bxs-user-pin' ></i>
                    <span class="links_name">Destinatarios</span>
                </a>
                <span class="tooltip">Destinatarios</span>
            </li>
            <li>
                <a href="/">
                    <i class='bx bxs-spreadsheet'></i>
                    <span class="links_name">Registrados</span>
                </a>
                <span class="tooltip">Registrados</span>

            </li>
            <li>
                <a href="/enviados">
                    <i class='bx bx-paper-plane'></i>
                    <span class="links_name">Enviados</span>
                </a>
                <span class="tooltip">Enviados</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-task'></i>
                    <span class="links_name">Finalizados</span>
                </a>
                <span class="tooltip">Entregados</span>

            </li>
            <li>
                <a href="/conductores">
		    <i class='bx bxs-car'></i>
                    <span class="links_name">Conductores</span>
                </a>
                <span class="tooltip">Conductores</span>

            </li>
        </ul>
        <div class="profile_content">
            <div class="profile">
                <div class="profile_details">
                    <div class="name_job">
                        <div class="name">Nombre de la bd</div>
                        <div class="job">Cargo db</div>
                    </div>
                </div>
                <i class='bx bx-log-out' id="log_out"></i>
            </div>
        </div>
    </div>
    <!-- contenido del home -->
    <div class="home_content">
        <div class="text"> CRUD Flask</div>
	<!-- modal de eliminar -->
        <div class="add-btn-container">
            <button class="add-btn" id="open">+</button>
        </div>
        <div class="modal-container" id="modal-container">
            <div class="modal">
                <!-- formulario de registro uwu -->
                {% block content %} {% endblock %}
            </div>
        </div>
        <table class="crud-table">
            {% block crudTable %}{% endblock %}
        </table>
    </div>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
